/* index.css */
html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

#main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Optional: make MainContent fill remaining space */
main {
  flex: 1;
}
